*{
    margin: 0; 
    margin: 0;
}
.maincontainer01{
    max-width: 1540px; 
    max-width: 100vw;
}
.header01{
    background-color: #6750a4;
     color: white;
    height: 103px; 
    width: 99%;
    display: flex; 
    justify-content: space-between;
    flex-direction: row; 
    align-items: center; 
    padding: 15px;
}
.divinterno{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
align-items: flex-end;
}
#userlog{
    display: flex; 
    flex-direction: row; 
    justify-content: ; 
    margin-right: 15px;
}
.logo01{
    height: 80px; 
    width: 80px;
}
.usermain{
    font-size: 30pt;
     margin-left: 15px;
}
.modulosicon{
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    margin-top: 45px;
}
.navbar{
    background-color: #898eb8;
     height: 85vh; 
     width: 97px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    padding: 15px;
    z-index: 1;
}
.optionsicon{
    display: flex;
}
#modulos00{
    margin-bottom: 30px;
}
.Menu{
    display: none;
}
.formgrupos{
    width: 1200px;
    height: 780px;
    background-color: #d9d9d9;
    border-radius: 15px;
}
.ventanaform{
    height: 695px; 
    width: 695px; 
    background-color: #f5f5f5;
    border-radius: 15px;
}
.selectcurso{
    height: 40px; 
    width: 640px; 
    background-color: #ffffff; 
    border-color: #79747e; 
    border-width: 2px; 
    border-radius: 8px;

}
.checkbox1{
    height: 20px; 
    width: 20px; 
    border-width: 2px; 
}
.hora{
    width: 134px; 
    height: 30px; 
    border-color: #e6e0e9; 
    border-radius: 8px;
}

li{
    list-style: none;
}
.guion{
    height: 2px; 
    width: 19px; 
    background-color: #5e69c9;
}
#agenda{
    width: 312px; 
    height: 56px;
    border-width: 5px; 
    border-color: #6750a4; 
    border-radius: 4px; 
    background-color: #ffffff; 
}
.dias{
    background-color: #d9d9d9; 
    height: 30px; 
    width: 134px; 
    border-radius: 7.5px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.diasmain{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: center; 
    margin-top: 11px;
}
.horariosdias{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

@media ( max-width: 440px) {


.display{
    display: none;
}
.Menu{
    display:block; 
}
.navbar{
    height: 10vh;
    width: 100vw;
    position: fixed; 
    bottom: 0; 
    flex-direction: row; 
    justify-content: space-evenly; 
    align-items: center;
}

.modulosicon{
   height: 50px; 
   width: 50px; 
   display: flex; 
   flex-direction: row; 
   justify-content: space-between; 
   align-items: center; 
   margin-top: 0px; 
   margin-right: 15px;

}
#modulos00{
    margin-bottom: 0px; 
    margin-left: 15px;
}
.optionsicon{
    height: 50px; 
    width: 50px;
}
}
.logo01:hover{
    height: 90px; 
    width: 90px;
}
.Menu:hover{
    fill: white;}

.rojo{
    background-color: red; 
    color: white;
}

#modulos00:hover{
    background-color: #5e69c9;
    border-radius: 100%; 
    fill: black;
}

.container{
height: 400px;
width: 600px; 
display: grid; 
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: repeat(7,1fr); 
background-color: gray;
}
.gradient{
background: rgb(2,0,36); 
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
grid-column: 2/4;
grid-row: 2/5; 
}
.imagee{
grid-column: 3/5; 
grid-row: 3/6; 
width: 200px; 
height: 200px;
}
.card{
grid-column: 4/6; 
grid-row: 4/7; 
padding: 15px; 
background-color: white;
}
.container01{
display: grid; 
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr); 
width: 1259px; 
height: 125px;
align-items: stretch;
 justify-content: space-evenly;
}
.breadcrums01{
grid-row: 1/2; 
grid-column: 1/2; 
display: flex; 
flex-direction: row;
font-size: 24pt; 
font-weight: bold; 
color: #6750a4; 
width: 600px;
margin-top: 10px;
}
.inputsearch{
grid-column: 1/3;
grid-row: 2/3; 
margin-top: 30px;
}
.lista{
    grid-column: 3/4;
     grid-row: 2/3; 
     align-items: center; 
     display: flex; 
    justify-content: end; 
}
.principal{
    border-radius: 100px;
     background-color: #5e69c9; 
     color: white;
    width: 288px; 
    height: 60px; 
    border-style: none;
}
.isearch{width: 720px; 
    height: 60px; 
    border-radius: 28px;
    background-color: #898eb8; 
    padding-left: 15px; 
    border-style:none ;
    font-size: 20pt;
}
hr {
    height: 15px; width: 1px;
    background-color: white;
    margin-left: 5px; 
    margin-right: 5px;
     margin-top: 5px;
  }
.titlecolumn{

}
.grid00 {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr 2fr 1fr 2fr;
        border-top: 1px solid black;
        border-right: 1px solid black;
        background-color: white;
        border-radius: 30px;
        border-width: 7px;
        border-color: #d9d9d9;
        width: 1245px;
        height: 765px;
        margin-top: 20px;
        padding: 20px;
        font-size: 16pt;
        font-family: inherit;
        

}
strong {
    font-size: 20pt;
    font: bold;
    font-family: inherit;
}
.grid > span {
    padding: 8px 4px;
    border-left: 10px solid black;
    border-bottom: 1px solid black;
}
.contenedor{
    z-index: 3;
    position: absolute;
    justify-content: center;
    margin-left: 700px;
    
}
.hidencheckbox{
    display: none;
}
.barrasistencia{

}
.checkboxclass{

}
.bottonasis{
    height: 90px; 
    width: 300px;
    background-color: #6750a4;
    border-radius: 45px;
    font-size: 20pt;
    fill: #ffffff;
}
.bottonX{
    display: none;
}